.portrait {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 66.64%;
  display: block;
  position: relative;
}

#andersonjack {
  background-image: url(../images/bapics/anderson_jack1.jpg);
  @include hocus {
    background-image: url(../images/bapics/anderson_jack2.jpg);
  }
}

#andersonjake {
  background-image: url(../images/bapics/anderson_jake1.jpg);
  @include hocus {
    background-image: url(../images/bapics/anderson_jake2.jpg);
  }
}

#andersonsj {
  background-image: url(../images/bapics/anderson_sj1.jpg);
  @include hocus {
    background-image: url(../images/bapics/anderson_sj2.jpg);
  }
}

#aultburch {
  background-image: url(../images/bapics/ault_burch1.jpg);
  @include hocus {
    background-image: url(../images/bapics/ault_burch2.jpg);
  }
}

#bellbrooklyn {
  background-image: url(../images/bapics/bell_brooklyn1.jpg);
  @include hocus {
    background-image: url(../images/bapics/bell_brooklyn2.jpg);
  }
}

#birdmouse {
  background-image: url(../images/bapics/bird_mouse1.jpg);
  @include hocus {
    background-image: url(../images/bapics/bird_mouse2.jpg);
  }
}

#buskoallyson {
  background-image: url(../images/bapics/busko_allyson1.jpg);
  @include hocus {
    background-image: url(../images/bapics/busko_allyson2.jpg);
  }
}

#caldwellskyler {
  background-image: url(../images/bapics/caldwell-olsen_skyler1.jpg);
  @include hocus {
    background-image: url(../images/bapics/caldwell-olsen_skyler2.jpg);
  }
}
#cederbergsarah {
  background-image: url(../images/bapics/cederberg_sarah1.jpg);
  @include hocus {
    background-image: url(../images/bapics/cederberg_sarah2.jpg);
  }
}

#churchkaitlyn {
  background-image: url(../images/bapics/church_kaitlyn1.jpg);
  @include hocus {
    background-image: url(../images/bapics/church_kaitlyn2.jpg);
  }
}

#danbysaige {
  background-image: url(../images/bapics/danby_saige1.jpg);
  @include hocus {
    background-image: url(../images/bapics/danby_saige2.jpg);
  }
}

#dierkenfrances {
  background-image: url(../images/bapics/dierken_frances1.jpg);
  @include hocus {
    background-image: url(../images/bapics/dierken_frances2.jpg);
  }
}

#dumassarah {
  background-image: url(../images/bapics/dumas_sarah1.jpg);
  @include hocus {
    background-image: url(../images/bapics/dumas_sarah2.jpg);
  }
}

#hammonkerry {
  background-image: url(../images/bapics/hammond_kerry1.jpg);
  @include hocus {
    background-image: url(../images/bapics/hammond_kerry2.jpg);
  }
}

#hiestandally {
  background-image: url(../images/bapics/hiestand_ally1.jpg);
  @include hocus {
    background-image: url(../images/bapics/hiestand_ally2.jpg);
  }
}

#howeliz {
  background-image: url(../images/bapics/howe_liz1.jpg);
  @include hocus {
    background-image: url(../images/bapics/howe_liz2.jpg);
  }
}

#kimmerlyamry {
  background-image: url(../images/bapics/kimmerly_amry1.jpg);
  @include hocus {
    background-image: url(../images/bapics/kimmerly_amry2.jpg);
  }
}
#larsonluke {
  background-image: url(../images/bapics/larson_luke1.jpg);
  @include hocus {
    background-image: url(../images/bapics/larson_luke2.jpg);
  }
}

#luquekatelyn {
  background-image: url(../images/bapics/luque_katelyn1.jpg);
  @include hocus {
    background-image: url(../images/bapics/luque_katelyn2.jpg);
  }
}

#marcosmarie {
  background-image: url(../images/bapics/marcos_marie1.jpg);
  @include hocus {
    background-image: url(../images/bapics/marcos_marie2.jpg);
  }
}

#maynardscott {
  background-image: url(../images/bapics/maynard_scott1.jpg);
  @include hocus {
    background-image: url(../images/bapics/maynard_scott2.jpg);
  }
}

#minkemamadeline {
  background-image: url(../images/bapics/minkema_madeline1.jpg);
  @include hocus {
    background-image: url(../images/bapics/minkema_madeline2.jpg);
  }
}

#nguyenduong {
  background-image: url(../images/bapics/nguyen_duong1.jpg);
  @include hocus {
    background-image: url(../images/bapics/nguyen_duong2.jpg);
  }
}

#ormmaney {
  background-image: url(../images/bapics/orm_maney1.jpg);
  @include hocus {
    background-image: url(../images/bapics/orm_maney2.jpg);
  }
}

#parzialegrace {
  background-image: url(../images/bapics/parziale_grace1.jpg);
  @include hocus {
    background-image: url(../images/bapics/parziale_grace2.jpg);
  }
}

#plagerfinn {
  background-image: url(../images/bapics/plager_finn1.jpg);
  @include hocus {
    background-image: url(../images/bapics/plager_finn2.jpg);
  }
}

#ruppelmaddy {
  background-image: url(../images/bapics/ruppel_maddy1.jpg);
  @include hocus {
    background-image: url(../images/bapics/ruppel_maddy2.jpg);
  }
}

#sanderskaitlyn {
  background-image: url(../images/bapics/sanders_kaitlyn1.jpg);
  @include hocus {
    background-image: url(../images/bapics/sanders_kaitlyn2.jpg);
  }
}

#semezmarina {
  background-image: url(../images/bapics/semez_marina1.jpg);
  @include hocus {
    background-image: url(../images/bapics/semez_marina2.jpg);
  }
}

#spengleramy {
  background-image: url(../images/bapics/spengler_amy1.jpg);
  @include hocus {
    background-image: url(../images/bapics/spengler_amy2.jpg);
  }
}

#thackerbrandon {
  background-image: url(../images/bapics/thacker_brandon1.jpg);
  @include hocus {
    background-image: url(../images/bapics/thacker_brandon2.jpg);
  }
}

#thomsenlaura {
  background-image: url(../images/bapics/thomsen_laura1.jpg);
  @include hocus {
    background-image: url(../images/bapics/thomsen_laura2.jpg);
  }
}

#trieuhao {
  background-image: url(../images/bapics/trieu_hao1.jpg);
  @include hocus {
    background-image: url(../images/bapics/trieu_hao2.jpg);
  }
}

#turnerparkavi {
  background-image: url(../images/bapics/turner_parkavi1.jpg);
  @include hocus {
    background-image: url(../images/bapics/turner_parkavi2.jpg);
  }
}

#voyedavid {
  background-image: url(../images/bapics/voye_david1.jpg);
  @include hocus {
    background-image: url(../images/bapics/voye_david2.jpg);
  }
}

#wernerevelyn {
  background-image: url(../images/bapics/werner_evelyn1.jpg);
  @include hocus {
    background-image: url(../images/bapics/werner_evelyn2.jpg);
  }
}