/* Breakpoints */

$mobile: 380px;

$mobile-lg: 550px;

$mobile-xl: 780px;

$tablet: 960px;

$desktop: 1060px;

$desktop-lg: 1290px;

/* Typography */

$font-primary: "proxima-nova", sans-serif;

/* Colors */
$white: rgb(255, 255, 255);
$grey: rgb(219, 219, 219);
$black: rgb(34, 34, 34);

$orange: rgb(229, 99, 75);
$blue: rgb(70, 160, 165);