/************************
  Dependencies 
************************/

@import 'mixins';
@import 'variables';
@import 'extentions';

@import 'responsivenav';
@import 'borders';
@import 'portraits';

/************************
  Styles
************************/

/*** TYPOGRAPHY ***/

html > * {
  font-size: 12px;
}

@media (min-width: $mobile-lg) {
  html > * {
    font-size: 12px;

  }
}

@media (min-width: $mobile-xl) {
  html > * {
    font-size: 14px;

  }
}

@media (min-width: $desktop-lg) {
  html > * {
    font-size: 16px;

  }
}

body {
  font-family: $font-primary;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: inline;
}

h1 {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  border: .1em solid $white;
  padding: .5em;
  text-align: center;
  &.blue {
    color: $blue;
    border-color: $blue;
  }
  &.orange {
    color: $orange;
    border-color: $orange;
  }
}

h2 {
  font-size: 2em;
  font-weight: bold;
  &.blue {
    color: $blue;
  }
  &.orange {
    color: $orange;
  }
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

.right {
  float: right;
}

.left {
  display: left;
}

/*** STRUCTURE ***/

section {
  min-height: calc(100vh - 5em);
  padding: 2.5em 0;
  position: relative;
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  &.white {
    background: $white;
  }
  &.blue {
    background: $blue;
    color: $white;
  }
  &.orange {
    background: $orange;
    color: $white;
  }
  .content {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.button {
  text-transform: uppercase;
  font-size: 1.5em;
  padding: .5em 1em;
  height: auto;
  transition: all .25s ease;
  &.blue {
    background-color: $blue;
    color: $white;
    border: 0;
    border-radius: 0;
    &:hover,
    &:focus {
      background: darken($blue, 10%)
    }
  }
  &.orange {
    background-color: $orange;
    color: $white;
    border: 0;
    border-radius: 0;
    &:hover,
    &:focus {
      background: darken($orange, 10%)
    }
  }
}

.sideimg {
  position: absolute;
  z-index: 1;
  &.sizeheight {
    width: auto;
    height: 50vh;
  }
  &.sizewidth {
    width: 10em;
    height: auto;
  }
  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}

/*** NAVIGATION ***/

nav {
  .logo {
    letter-spacing: .5em;
    padding: 1em 1em .25em 1em;
    font-size: 1em;
    line-height: 1.5em;
    color: $white;
    background: $orange;
    display: inline-block;
    float: left;
  }
  ul {
    line-height: 6em;
    display: flex;
    justify-content: space-around;
    li {
      list-style-type: none;
      padding: 0 1em;
      &:last-child {
        padding-right: 0;
      }
      a {
        color: $blue;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        vertical-align: middle;
        transition: color 0.25s;
        padding: calc(.5em + 4px) calc(.5em - 2px) .5em .5em;
      }
    }
  }
}

/*** HEADER ***/

header {
  position: relative;
  z-index: 1;
}

#header {}

.animation {
  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
  }
}

/*** SKELETON FIXES ***/

.container {
  width: calc(80% - 12em);
}
