/************************
  Dependencies 
************************/
/* Breakpoints */
/* Typography */
/* Colors */
#togglenav {
  float: right;
  width: 1.5em;
  height: 30px;
  margin-top: 2em; }
  #togglenav span {
    position: relative;
    display: block; }
  #togglenav span:after,
  #togglenav span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -.5em; }
  #togglenav span:after {
    top: .5em; }
  #togglenav span,
  #togglenav span::after,
  #togglenav span::before {
    width: 100%;
    height: .15em;
    background-color: #222222;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 0; }
  #togglenav.on span {
    background-color: transparent; }
  #togglenav.on span::before {
    transform: rotate(45deg) translate(0.35em, 0.35em); }
  #togglenav.on span::after {
    transform: rotate(-45deg) translate(0.35em, -0.35em); }
  #togglenav.on + #menu-main-menu-container {
    opacity: 1;
    visibility: visible;
    padding: 1em;
    text-align: center; }

#menu-main-menu-container {
  visibility: hidden; }
  #menu-main-menu-container li {
    display: block; }

@media (max-width: 1060px) {
  header .container {
    width: 100%;
    position: absolute;
    padding: 0 2em; } }
@media (min-width: 1060px) {
  #togglenav {
    display: none; }

  nav #menu-main-menu-container {
    visibility: visible;
    margin-right: 0;
    line-height: 4em; }
    nav #menu-main-menu-container li {
      display: inline-block;
      line-height: 8em; } }
nav a {
  position: relative;
  vertical-align: middle; }
  nav a::before, nav a::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; }

.draw {
  transition: color 0.25s; }
  .draw::before, .draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0; }
  .draw::before {
    top: 0;
    left: 0; }
  .draw::after {
    bottom: 0;
    right: 0; }
  .draw:hover {
    color: #46a0a5; }
  .draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%; }
  .draw:hover::before {
    border-top-color: #46a0a5;
    border-right-color: #46a0a5;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; }
  .draw:hover::after {
    border-bottom-color: #46a0a5;
    border-left-color: #46a0a5;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s; }

.meet:hover {
  color: #46a0a5; }
.meet::after {
  top: 0;
  left: 0; }
.meet:hover::before {
  border-top-color: #46a0a5;
  border-right-color: #46a0a5; }
.meet:hover::after {
  border-bottom-color: #46a0a5;
  border-left-color: #46a0a5;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s; }

.center:hover {
  color: #46a0a5; }
.center::before, .center::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center; }
.center::before {
  border-top: 2px solid #46a0a5;
  border-bottom: 2px solid #46a0a5;
  transform: scale3d(0, 1, 1); }
.center::after {
  border-left: 2px solid #46a0a5;
  border-right: 2px solid #46a0a5;
  transform: scale3d(1, 0, 1); }
.center:hover::before, .center:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 0.5s; }

.spin {
  width: 5em;
  height: 5em;
  padding: 0; }
  .spin:hover {
    color: #46a0a5; }
  .spin::before, .spin::after {
    top: 0;
    left: 0; }
  .spin::before {
    border: 2px solid transparent; }
  .spin:hover::before {
    border-top-color: #46a0a5;
    border-right-color: #46a0a5;
    border-bottom-color: #46a0a5;
    transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s; }
  .spin::after {
    border: 0 solid transparent; }
  .spin:hover::after {
    border-top: 2px solid #46a0a5;
    border-left-width: 2px;
    border-right-width: 2px;
    transform: rotate(270deg);
    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s; }

.circle {
  border-radius: 100%;
  box-shadow: none; }
  .circle::before, .circle::after {
    border-radius: 100%; }

.thick {
  color: #e5634b; }
  .thick:hover {
    color: #fff;
    font-weight: 700; }
  .thick::before {
    border: 2.5em solid transparent;
    z-index: -1; }
  .thick::after {
    mix-blend-mode: color-dodge;
    z-index: -1; }
  .thick:hover::before {
    background: #e5634b;
    border-top-color: #e5634b;
    border-right-color: #e5634b;
    border-bottom-color: #e5634b;
    transition: background 0s linear 0.4s, border-top-color 0.15s linear, border-right-color 0.15s linear 0.15s, border-bottom-color 0.15s linear 0.25s; }
  .thick:hover::after {
    border-top: 2.5em solid #e5634b;
    border-left-width: 2.5em;
    border-right-width: 2.5em; }

.portrait {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 66.64%;
  display: block;
  position: relative; }

#andersonjack {
  background-image: url(../images/bapics/anderson_jack1.jpg); }
  #andersonjack:hover, #andersonjack:focus {
    background-image: url(../images/bapics/anderson_jack2.jpg); }

#andersonjake {
  background-image: url(../images/bapics/anderson_jake1.jpg); }
  #andersonjake:hover, #andersonjake:focus {
    background-image: url(../images/bapics/anderson_jake2.jpg); }

#andersonsj {
  background-image: url(../images/bapics/anderson_sj1.jpg); }
  #andersonsj:hover, #andersonsj:focus {
    background-image: url(../images/bapics/anderson_sj2.jpg); }

#aultburch {
  background-image: url(../images/bapics/ault_burch1.jpg); }
  #aultburch:hover, #aultburch:focus {
    background-image: url(../images/bapics/ault_burch2.jpg); }

#bellbrooklyn {
  background-image: url(../images/bapics/bell_brooklyn1.jpg); }
  #bellbrooklyn:hover, #bellbrooklyn:focus {
    background-image: url(../images/bapics/bell_brooklyn2.jpg); }

#birdmouse {
  background-image: url(../images/bapics/bird_mouse1.jpg); }
  #birdmouse:hover, #birdmouse:focus {
    background-image: url(../images/bapics/bird_mouse2.jpg); }

#buskoallyson {
  background-image: url(../images/bapics/busko_allyson1.jpg); }
  #buskoallyson:hover, #buskoallyson:focus {
    background-image: url(../images/bapics/busko_allyson2.jpg); }

#caldwellskyler {
  background-image: url(../images/bapics/caldwell-olsen_skyler1.jpg); }
  #caldwellskyler:hover, #caldwellskyler:focus {
    background-image: url(../images/bapics/caldwell-olsen_skyler2.jpg); }

#cederbergsarah {
  background-image: url(../images/bapics/cederberg_sarah1.jpg); }
  #cederbergsarah:hover, #cederbergsarah:focus {
    background-image: url(../images/bapics/cederberg_sarah2.jpg); }

#churchkaitlyn {
  background-image: url(../images/bapics/church_kaitlyn1.jpg); }
  #churchkaitlyn:hover, #churchkaitlyn:focus {
    background-image: url(../images/bapics/church_kaitlyn2.jpg); }

#danbysaige {
  background-image: url(../images/bapics/danby_saige1.jpg); }
  #danbysaige:hover, #danbysaige:focus {
    background-image: url(../images/bapics/danby_saige2.jpg); }

#dierkenfrances {
  background-image: url(../images/bapics/dierken_frances1.jpg); }
  #dierkenfrances:hover, #dierkenfrances:focus {
    background-image: url(../images/bapics/dierken_frances2.jpg); }

#dumassarah {
  background-image: url(../images/bapics/dumas_sarah1.jpg); }
  #dumassarah:hover, #dumassarah:focus {
    background-image: url(../images/bapics/dumas_sarah2.jpg); }

#hammonkerry {
  background-image: url(../images/bapics/hammond_kerry1.jpg); }
  #hammonkerry:hover, #hammonkerry:focus {
    background-image: url(../images/bapics/hammond_kerry2.jpg); }

#hiestandally {
  background-image: url(../images/bapics/hiestand_ally1.jpg); }
  #hiestandally:hover, #hiestandally:focus {
    background-image: url(../images/bapics/hiestand_ally2.jpg); }

#howeliz {
  background-image: url(../images/bapics/howe_liz1.jpg); }
  #howeliz:hover, #howeliz:focus {
    background-image: url(../images/bapics/howe_liz2.jpg); }

#kimmerlyamry {
  background-image: url(../images/bapics/kimmerly_amry1.jpg); }
  #kimmerlyamry:hover, #kimmerlyamry:focus {
    background-image: url(../images/bapics/kimmerly_amry2.jpg); }

#larsonluke {
  background-image: url(../images/bapics/larson_luke1.jpg); }
  #larsonluke:hover, #larsonluke:focus {
    background-image: url(../images/bapics/larson_luke2.jpg); }

#luquekatelyn {
  background-image: url(../images/bapics/luque_katelyn1.jpg); }
  #luquekatelyn:hover, #luquekatelyn:focus {
    background-image: url(../images/bapics/luque_katelyn2.jpg); }

#marcosmarie {
  background-image: url(../images/bapics/marcos_marie1.jpg); }
  #marcosmarie:hover, #marcosmarie:focus {
    background-image: url(../images/bapics/marcos_marie2.jpg); }

#maynardscott {
  background-image: url(../images/bapics/maynard_scott1.jpg); }
  #maynardscott:hover, #maynardscott:focus {
    background-image: url(../images/bapics/maynard_scott2.jpg); }

#minkemamadeline {
  background-image: url(../images/bapics/minkema_madeline1.jpg); }
  #minkemamadeline:hover, #minkemamadeline:focus {
    background-image: url(../images/bapics/minkema_madeline2.jpg); }

#nguyenduong {
  background-image: url(../images/bapics/nguyen_duong1.jpg); }
  #nguyenduong:hover, #nguyenduong:focus {
    background-image: url(../images/bapics/nguyen_duong2.jpg); }

#ormmaney {
  background-image: url(../images/bapics/orm_maney1.jpg); }
  #ormmaney:hover, #ormmaney:focus {
    background-image: url(../images/bapics/orm_maney2.jpg); }

#parzialegrace {
  background-image: url(../images/bapics/parziale_grace1.jpg); }
  #parzialegrace:hover, #parzialegrace:focus {
    background-image: url(../images/bapics/parziale_grace2.jpg); }

#plagerfinn {
  background-image: url(../images/bapics/plager_finn1.jpg); }
  #plagerfinn:hover, #plagerfinn:focus {
    background-image: url(../images/bapics/plager_finn2.jpg); }

#ruppelmaddy {
  background-image: url(../images/bapics/ruppel_maddy1.jpg); }
  #ruppelmaddy:hover, #ruppelmaddy:focus {
    background-image: url(../images/bapics/ruppel_maddy2.jpg); }

#sanderskaitlyn {
  background-image: url(../images/bapics/sanders_kaitlyn1.jpg); }
  #sanderskaitlyn:hover, #sanderskaitlyn:focus {
    background-image: url(../images/bapics/sanders_kaitlyn2.jpg); }

#semezmarina {
  background-image: url(../images/bapics/semez_marina1.jpg); }
  #semezmarina:hover, #semezmarina:focus {
    background-image: url(../images/bapics/semez_marina2.jpg); }

#spengleramy {
  background-image: url(../images/bapics/spengler_amy1.jpg); }
  #spengleramy:hover, #spengleramy:focus {
    background-image: url(../images/bapics/spengler_amy2.jpg); }

#thackerbrandon {
  background-image: url(../images/bapics/thacker_brandon1.jpg); }
  #thackerbrandon:hover, #thackerbrandon:focus {
    background-image: url(../images/bapics/thacker_brandon2.jpg); }

#thomsenlaura {
  background-image: url(../images/bapics/thomsen_laura1.jpg); }
  #thomsenlaura:hover, #thomsenlaura:focus {
    background-image: url(../images/bapics/thomsen_laura2.jpg); }

#trieuhao {
  background-image: url(../images/bapics/trieu_hao1.jpg); }
  #trieuhao:hover, #trieuhao:focus {
    background-image: url(../images/bapics/trieu_hao2.jpg); }

#turnerparkavi {
  background-image: url(../images/bapics/turner_parkavi1.jpg); }
  #turnerparkavi:hover, #turnerparkavi:focus {
    background-image: url(../images/bapics/turner_parkavi2.jpg); }

#voyedavid {
  background-image: url(../images/bapics/voye_david1.jpg); }
  #voyedavid:hover, #voyedavid:focus {
    background-image: url(../images/bapics/voye_david2.jpg); }

#wernerevelyn {
  background-image: url(../images/bapics/werner_evelyn1.jpg); }
  #wernerevelyn:hover, #wernerevelyn:focus {
    background-image: url(../images/bapics/werner_evelyn2.jpg); }

/************************
  Styles
************************/
/*** TYPOGRAPHY ***/
html > * {
  font-size: 12px; }

@media (min-width: 550px) {
  html > * {
    font-size: 12px; } }
@media (min-width: 780px) {
  html > * {
    font-size: 14px; } }
@media (min-width: 1200px) {
  html > * {
    font-size: 16px; } }
body {
  font-family: "proxima-nova", sans-serif;
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: inline; }

h1 {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  border: 0.1em solid white;
  padding: .5em;
  text-align: center; }
  h1.blue {
    color: #46a0a5;
    border-color: #46a0a5; }
  h1.orange {
    color: #e5634b;
    border-color: #e5634b; }

h2 {
  font-size: 2em;
  font-weight: bold; }
  h2.blue {
    color: #46a0a5; }
  h2.orange {
    color: #e5634b; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

.right {
  float: right; }

.left {
  display: left; }

/*** STRUCTURE ***/
section {
  min-height: calc(100vh - 5em);
  padding: 2.5em 0;
  position: relative; }
  section::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  section.white {
    background: white; }
  section.blue {
    background: #46a0a5;
    color: white; }
  section.orange {
    background: #e5634b;
    color: white; }
  section .content {
    width: 100%;
    display: inline-block;
    vertical-align: middle; }

.button {
  text-transform: uppercase;
  font-size: 1.5em;
  padding: .5em 1em;
  height: auto;
  transition: all .25s ease; }
  .button.blue {
    background-color: #46a0a5;
    color: white;
    border: 0;
    border-radius: 0; }
    .button.blue:hover, .button.blue:focus {
      background: #377d81; }
  .button.orange {
    background-color: #e5634b;
    color: white;
    border: 0;
    border-radius: 0; }
    .button.orange:hover, .button.orange:focus {
      background: #dd3d20; }

.sideimg {
  position: absolute;
  z-index: 1; }
  .sideimg.sizeheight {
    width: auto;
    height: 50vh; }
  .sideimg.sizewidth {
    width: 10em;
    height: auto; }
  .sideimg.top {
    top: 0; }
  .sideimg.bottom {
    bottom: 0; }
  .sideimg.left {
    left: 0; }
  .sideimg.right {
    right: 0; }

/*** NAVIGATION ***/
nav .logo {
  letter-spacing: .5em;
  padding: 1em 1em .25em 1em;
  font-size: 1em;
  line-height: 1.5em;
  color: white;
  background: #e5634b;
  display: inline-block;
  float: left; }
nav ul {
  line-height: 6em;
  display: flex;
  justify-content: space-around; }
  nav ul li {
    list-style-type: none;
    padding: 0 1em; }
    nav ul li:last-child {
      padding-right: 0; }
    nav ul li a {
      color: #46a0a5;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      vertical-align: middle;
      transition: color 0.25s;
      padding: calc(.5em + 4px) calc(.5em - 2px) 0.5em 0.5em; }

/*** HEADER ***/
header {
  position: relative;
  z-index: 1; }

.animation img {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto; }

/*** SKELETON FIXES ***/
.container {
  width: calc(80% - 12em); }

/*# sourceMappingURL=style.css.map */
